// fonts
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500;700&display=swap');
$font-main: 'Josefin Sans', sans-serif;
$font-secondary: 'Pacifico', cursive;
$font-size: 18px;

// colors
$color-light: #eceff4;
$color-dark: #2e3440;
$color-dark2: #3b4252;
$color-main: #5cdb95;
$color-main-bright: #8ee4af;
$color-main-dark: #379683;

// Breakpoints
$tablet: 768px;
$desktop: 1024px;
