@import '../../styles/core';

.projects {
  margin: -75px 0;
  padding: 75px 6%;
  width: 100%;
  display: flex;
  flex-direction: column;
  &__container {
    width: 100%;
    background-color: $color-dark2;
    padding: calc(max(10px, 2vw)) 4%;
    border-radius: 10px;
    &__title {
      text-align: center;
      font-size: calc(max(36px, 3.6vw));
    }
  }
}
