.header {
  position: fixed;
  top: 0px;
  height: 50px;
  width: 100vw;
  max-width: 100%;
  background-color: $color-dark;
  display: flex;
  flex-direction: row-reverse;
  padding: 35px 25px;
  justify-content: space-between;
  align-items: center;
  &__logo {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    font-family: $font-secondary;
    line-height: 0rem;
    font-size: 2rem;
  }
  &__nav-toggle {
    z-index: 3;
    cursor: pointer;
    padding: 10px 35px 16px 0px;
    & span,
    & span:before,
    & span:after {
      cursor: pointer;
      border-radius: 1px;
      height: 5px;
      width: 35px;
      background: $color-light;
      position: absolute;
      display: block;
      content: "";
    }
    & span:before {
      top: -10px;
    }
    & span:after {
      bottom: -10px;
    }

    & span,
    & span:before,
    & span:after {
      transition: all 0.2s ease-in-out;
    }
    &.active {
      & span {
        background-color: transparent;
      }
      & span:before,
      & span:after {
        top: 0;
      }
      & span:before {
        transform: rotate(45deg);
      }
      & span:after {
        transform: rotate(-45deg);
      }
    }
  }
}

.navbar {
  transition: 0.2s ease-in;
  transform: translateX(-230px);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 220px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  background-color: $color-dark2;
  -webkit-box-shadow: 3px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 3px 0px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 3px 0px 10px 0px rgba(0, 0, 0, 0.2);
  & nav ul {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: 1.7rem;
    height: 60vh;
  }
}

.opaqueWindow {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  background-color: $color-light;
  transition: opacity 0.2s ease-in !important;
}

.shadow {
  -webkit-box-shadow: 0px 0px 10px 0px rgba($color-light, 0.5);
  -moz-box-shadow: 0px 0px 10px 0px rgba($color-light, 0.5);
  box-shadow: 0px 0px 10px 0px rgba($color-light, 0.5);
}

.hidden {
  display: none;
}
.navbarTransition {
  transition: all 0.2s ease-in;
  left: 0px !important;
  transform: unset !important;
}

.opaqueWindowTransition {
  opacity: 0.1 !important;
  visibility: visible !important;
}
